body{
    background-color: #1e1f29;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding: 0;
    user-select: none;
}
::-webkit-scrollbar {
    width: 0;
}
@font-face {
    font-family: 'Miratrix', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
@font-face {
    font-family: 'Miratrix';
    font-style: normal;
    font-weight: 400;
    src: local('Miratrix'), url('https://fonts.cdnfonts.com/s/49706/MiratrixNormal.woff') format('woff');
}
.container{
    margin-left: calc((100% - 1280px)/2);
    width: 1280px;
    background-color: #1e1f29;
}
.navbar{
    color: #989797;;
    position: absolute;
    height: 24px;
    width: 489px;
    /* сверху | справа | снизу | слева */
    margin: 100px 0 1156px 791px;
    text-shadow: 2px 3px 20px rgba(0, 0, 0, 0.74);
    font-family: Miratrix;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
}
#about{
    margin-left: 1174px;
}
#projects{
    margin-left: 970px;
}
#main{
    margin-left: 780px;
}
a{
    text-decoration: none;
}
.Kokov1ch{
    position: absolute;
    width: 238px;
    height: 25px;
    margin: 866px 553px 8px 0;
    opacity: 0.42;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.navbar:hover{
    transition: 0.5s;
    color: #e54545;
    cursor: pointer;
}
input[type="text"]{
    background-color: #989797;
    position: absolute;
    margin-top: 770px;
    margin-left: 140px;
    width: 930px;
    height: 34px;
    font-family: Montserrat;
    font-size: 20px;
    border: none;
    outline: none;
    user-select: none;
}
input[type="button"]{
    position: absolute;
    margin-top: 770px;
    margin-left: 1080px;
    width: 110px;
    height: 35px;
    font-family: Miratrix;
    font-size: 20px;
    border: none;
    outline: none;
    user-select: none;
}
input[type="button"]:hover{
    transition: 0.5s;
    background: #e54545;
    cursor: pointer;
}
#txt{
    position: absolute;
}
.message{
    position: relative;
    background: #4b4b54;
    width: 510px;
    min-height: 60px;
    height: auto;
    margin-left: 6px;
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 20px;
    text-align:right;
    color: #c9c4c4;
    overflow: hidden;
}
-webkit-scrollbar {
    width: 0;
    height: 0;
}
.box{
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: absolute;
    width: 1050px;
    height: 550px;
    margin-top: 220px;
    margin-left: 140px;
    background: #363740;
}
.chat{
    position: absolute;
    margin-top: 20px;
}
.av{
    float:left;
    margin-top: 5px;
    margin-left: 3px;
    border-radius: 100%;
    position:sticky;
    width: 50px;
    height: 50px;
    background-color: #e54545;
}
.av2{
    float:right;
    margin-top: 5px;
    border-radius: 100%;
    position:sticky;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
}