body{
    background-color: #1e1f29;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding: 0;
}
@font-face {
    font-family: 'Miratrix', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
@font-face {
    font-family: 'Miratrix';
    font-style: normal;
    font-weight: 400;
    src: local('Miratrix'), url('https://fonts.cdnfonts.com/s/49706/MiratrixNormal.woff') format('woff');
}
.container{
    margin-left: calc((100% - 1280px)/2);
    width: 1280px;
    background-color: #1e1f29;
}
.navbar{
    color: #989797;;
    position: absolute;
    height: 24px;
    width: 489px;
    /* сверху | справа | снизу | слева */
    margin: 100px 0 956px 791px;
    text-shadow: 2px 3px 20px rgba(0, 0, 0, 0.74);
    font-family: Miratrix;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
}
#about{
    margin-left: 773px;
}
#projects{
    margin-left: 970px;
    color: #e54545;
}
#contacts{
    margin-left: 1174px;
}
.navbar:hover{
    transition: 0.5s;
    color: #e54545;
    cursor: pointer;
}
.grid{
    position: absolute;
    margin-top: 130px;
    margin-right: 0;
}
.block{
    width: 623px;
    height: 212px;
    background-image: linear-gradient(118deg, #2d363d -20%, #1f1f2c 111%);
    cursor: pointer;
}
#mole{
    position: absolute;
    margin-top: 130px;
}
#mess{
    position: absolute;
    margin-top: 130px;
    margin-left: 657px;
}
#pilots{
    position: absolute;
    margin-top: 393px;
}
#timer{
    position: absolute;
    margin-top: 393px;
    margin-left: 657px;
}
.label{
    /* сверху | справа | снизу | слева */
    position: absolute;
    width: 207px;
    height: 41px;
    margin: 30px 384px 141px 33px;
    font-family: Miratrix;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.rectangle{
    position: absolute;
    width: 27px;
    height: 10px;
    margin: 81px 367px 10px 33px;
    background-color: #e54545;
}
.description{
    position: absolute;
    width: 394px;
    height: 66px;
    margin-top: 101px;
    margin-left: 33px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.Kokov1ch{
    position: absolute;
    width: 238px;
    height: 25px;
    margin: 866px 553px 8px 0;
    opacity: 0.42;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
a{
    text-decoration: none;
}